@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #EBE9E1;
  }
}

::-webkit-scrollbar {
  width: 0px; 
  height: 0px; 
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); 
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5); 
}

::-webkit-scrollbar-track {
  background-color: transparent; 
}


.scrollbar-hidden {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;  
}